# Python
__pycache__
*.pyc
**/__pycache__
**/*.pyc
venv
.venv

# System-specific files
.DS_Store
**/.DS_Store

# Docker
docker-compose.*
env.d

# Docs
docs
*.md
*.log

# Development/test cache & configurations
.cache
.circleci
.git
.vscode
db.sqlite3
.mypy_cache

# Font-end
**/node_modules

# Assets
src/ashley/static/ashley/js
src/ashley/static/ashley/css
src/ashley/static/ashley/font
