# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Exported strings & generated translation templates
src/frontend/i18n/frontend.json
# Translations
src/frontend/js/translations/*.json
*.pot

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
env.d/development/crowdin
env.d/terraform
env.d/development/aws 

# Logs
*.log

# Test & lint
.coverage
.pylint.d
.pytest_cache
db.sqlite3
.mypy_cache

# Site media
/data/
src/ashley/static/ashley/css/
src/ashley/static/ashley/js/
src/ashley/static/ashley/font/

# JS dependencies
node_modules

# SASS
.sass-cache

# Terraform
.terraform
*.tfstate
*.tfstate.backup
/terraform/state.tf
