.ashley-editor-wrapper {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}

.ashley-editor-widget {
  border: 1px solid $gray-400;
  border-radius: 0.25rem;
  padding: 1em;
  min-height: 10em;
  position: relative;
  cursor: text;

  blockquote {
    @include blockquote;
  }
}

.ashley-editor-toolbar {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
}

.ashley-editor-buttons button {
  width: 40px;
}

// DraftJS plugin Anchor style based on the original CSS
// (https://www.draft-js-plugins.com/plugin/anchor)

.ashley-editor-link-input {
  height: 34px;
  width: 100%;
  padding: 0 12px;
  font-size: 15px;
  font-family: inherit;
  background-color: transparent;
  border: none;
  color: $input-color;
}

.ashley-editor-link-input:focus {
  outline: none;
}

.ashley-editor-link-input::-webkit-input-placeholder {
  color: $input-placeholder-color;
}

.ashley-editor-link-input:-ms-input-placeholder {
  color: $input-placeholder-color;
}

.ashley-editor-link-input::placeholder {
  color: $input-placeholder-color;
}

.ashley-editor-link-input-invalid {
  color: $danger;
}

.ashley-editor-link {
  color: $link-color;
  text-decoration: underline;
}
