//
// MACHINA BOARD: FORUM PAGES
// --------------------------------------------------

.card.topiclist {
  .card-header {
    .topic-name-col,
    .topic-count-col,
    .topic-last-post-col {
      font-size: 0.7rem;
      text-transform: uppercase;
      color: $table-head-color;
    }
  }
  .card-body {
    .topic-icon {
      width: 50px;
      height: 45px;
      line-height: 49px;
      text-align: center;
      color: $read-color;

      &.unread {
        color: $unread-color;
      }
    }

    .topic-name {
      .topic-created,
      .topic-inline-pagination {
        font-size: 0.8rem;
        color: $gray-600;
      }

      .topic-inline-pagination {
        padding-top: 6px;
      }

      .locked-indicator {
        color: $red;
      }
    }

    .topic-count,
    .topic-last-post {
      font-size: 0.9rem;
      line-height: 1rem;
    }

    .edit-info {
      clear: both;
    }
  }
  .card-title {
    .sortoptions {
      line-height: 0.7em;
    }
  }
  .sorted {
    .sortoptions {
      position: absolute;
      top: 0.2em;
      a {
        position: relative;
        width: 14px;
        height: 14px;
        display: inline-block;
        background: url(../img/sorting-icons.svg) 0 0 no-repeat;
        background-size: 14px auto;
      }

      a.ascending {
        background-position: 0 -28px;
        :focus,
        :hover {
          background-position: 0 -42px;
        }
      }

      a.descending {
        top: 1px;
        background-position: 0 -56px;
        :focus,
        :hover {
          background-position: 0 -70px;
        }
      }
    }
  }
}

.forum-action-rename {
  font-size: 50%;
  font-weight: normal;
}
