// Customize bootstrap variables (before imports)

$blue: #3877bc;
$red: #fe3925;

@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

// Relative path the the fontawesome webfonts (from the compiled CSS file)
$fa-font-path: '../font';

$read-color: lighten($blue, 15%);
$table-head-color: #495057;
$unread-color: lighten($red, 20%);
