@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

// Relative path the the fontawesome webfonts (from the compiled CSS file)
$fa-font-path: '../font';

$unread-color: lighten($red, 20%);
$read-color: lighten($blue, 15%);
